.head-banner{
    background-image: url(resources-and-guides/assets/hero-bg.png);
    height: 100%;
    min-height: 674px;
    background-color: antiquewhite;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 70px 120px 134px;
    text-align: center;
    gap: 32px;
}
.banner{
    margin: 0 auto;
    max-width:1360px;
    height: 379px;
}
.banner-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    gap: 16px;
}
.notify{
    width: 209px;
    height:35px;
    background-color:#ffffff;
    padding: 12px 8px;
    border-radius: 60px;
    gap: 10px;
    border:none;
    color: #30B868;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    display: inline;
    margin-top: 4px;
}
.banner-h1, .note-h3{
    margin:0 295px;
    max-width: 1600px;
    height: 168px;
    align-items: center;
    font-size: 60px;
    color: #FFFFFF;
}
.banner-p, .note-p{
    color:#FFFFFF;
    align-items: center;
    height: 60px;
}
.two-btn{
    height: 52px;
    align-items: center;
    display:flex;
    justify-content: center;
    gap: 16px;
}
.arrow {
    width: 20px;
    height: 20px;
}
.dot {
    width:205px;
    height:20px;
    display: flex;
    text-align: center;
    justify-content: flex-end;

}
.notify-text{
    font-size: 13px;
    width: 183px;
    height: 19px;
}
.live-signal{
    width: 16px;
    height: 16px;
}