.early-access{
    height: 506px;
    max-width: 1350px;
    margin: 2px auto 120px;
    background-color: #F7F6F2;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 24px;
    padding: 80px 40px;
    border-radius: 12px;
}
.early-access-content, .early-access-button{
    width:1280px;
    margin: 0 auto;
}
.early-content-head{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.early-access-button{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn11{
    width: 194px;
    height: 52px;
    background-color: #469165;
    padding: 16px 12px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    align-items: center;
    margin: 0 auto;
}