
.navbar{
    height: 92px;
    max-width: 1600px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    padding: 16 120;
    padding: 16px 120px;
}

.logo-navbar{
    height: 60px;
    width: 139px;
    justify-content: center;
}

.nav-paths{
    display:flex;
    width: 365px;
    height: 24px;
    gap: 32px;
    align-items: center;
}
ul {
    list-style: none;
}
.nav-paths-links {
    text-decoration: none;
    color:#000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    opacity: 90%;
    width:67px;
    height: 24px;
}

.btn-get-early-access{
    width: 164px;
    height:44px;
    background-color:#30B868;
    padding: 12px 16px;
    border-radius: 4px;
    gap: 10px;
    border:none;
    color: #FFFFFF;
    font-weight: 600;
}
.btn-start-building-your-vault {
    width: 251px;
    height: 52px;
    background-color:#30B868;
    padding: 12px 16px;
    border-radius: 4px;
    gap: 10px;
    border:none;
    color: #FFFFFF;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn2{
    width: 198px;
    height: 52px;
    padding: 16px 12px;
    border-radius: 4px;
    font-weight: 1px;
    border: none;
    background-color: #469165;
    color: #ffffff;
}
.btn-see-how-it-works {
    width: 198px;
    height: 52px;
    padding: 16px 12px;
    border-radius: 4px;
    font-weight: 1px;
    border: #ffffff 1px solid;
    background-color: transparent;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}