.notes{
    height: 448px;
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1360px;
    gap: 44px;
    display: flex;
    flex-direction: column;

}
.note-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    height: 152px;
}
.note-cards{
    display: flex;
    width: 1360px;
    gap: 24px;

    
}
.note-card-info{
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 300px;
    height: 322px;
    padding: 24px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.note-h3{
    font-size: 50px;
    color:#001931;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.note-p{
    text-align: center;
    color: #627382;
}
.n-c-i-p{
    text-align: center;
}
.note-img{

    background-color: #f95555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding:15px;
}