* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100%;
    width: 1600px;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
    max-height: 92px;
    display:flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 100%;
    padding: 16 120;

}

.logo-navbar{
    height: 60px;
    width: 139px;
    justify-content: center;
}

.nav-paths{
    display:flex;
    width: 365px;
    gap: 32px;
    align-items: center;
}
ul {
    list-style: none;
}
.nav-paths-links {
    text-decoration: none;
    color:#000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    opacity: 90%;
    width:67px;
    height: 24px;
}
.btn1 {
    max-width: 164px;
    height:44px;
    background-color:#30B868;
    padding: 12 16;
    border-radius: 4px;
    gap: 10px;
    border:none;
    color: #FFFFFF;
    font-weight: 600;
}
.head-banner{
    background-image: url(resources-and-guides/assets/hero-bg.png);
    height: 100%;
    min-height: 674px;
    background-color: antiquewhite;
    display:flex;
    justify-content: center;
    align-items: center;
}
