* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
body {
    max-width: 100%;
    width: 1600px;
}
p{
    color: #627382;
}
/* nav */

.navbar{
    height: 92px;
    max-width: 1600px;
    display:flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 100%;
    padding: 16 120;
    padding: 16px 120px;
}

.logo-navbar{
    height: 60px;
    width: 139px;
    justify-content: center;
}

.nav-paths{
    display:flex;
    width: 365px;
    gap: 32px;
    align-items: center;
}
ul {
    list-style: none;
}
.nav-paths-links {
    text-decoration: none;
    color:#000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    opacity: 90%;
    width:67px;
    height: 24px;
}
.notify{
    max-width:229px;
    height:35px;
    background-color:#ffffff;
    padding: 12px 8px;
    border-radius: 60px;
    gap: 10px;
    border:none;
    color: #30B868;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}
.btn1 {
    max-width: 251px;
    height:44px;
    background-color:#30B868;
    padding: 12px 16px;
    border-radius: 4px;
    gap: 10px;
    border:none;
    color: #FFFFFF;
    font-weight: 600;
}
.btn2{
    width: 198px;
    height: 52px;
    padding: 16px 12px;
    border-radius: 4px;
    font-weight: 1px;
    border: none;
    background-color: #469165;
    color: #ffffff;
}
.btn3 {
    width: 198px;
    height: 52px;
    padding: 16px 12px;
    border-radius: 4px;
    font-weight: 1px;
    border: #ffffff 1px solid;
    background-color: transparent;
    color: #ffffff;
}
/* banner */
.head-banner{
    background-image: url(resources-and-guides/assets/hero-bg.png);
    height: 100%;
    min-height: 674px;
    background-color: antiquewhite;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 70px 120px 134px;
    text-align: center;
}
.banner{
    margin: 0 auto;
    max-width:1360px;
    height: 379px;
}
.banner-content {
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.banner-h1, .note-h3{
    margin:0 295px;
    max-width: 1600px;
    height: 168px;
    align-items: center;
    font-size: 60px;
    color: #FFFFFF;
}
.banner-p, .note-p{
    color:#FFFFFF;
    align-items: center;
    height: 60px;
}
.two-btn{
    max-width: 100%;
    height: 52px;
    align-items: center;
    display:flex;
    justify-content: center;
    gap: 16px;
}
/*styles of notes */

.notes{
    height: 448px;
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1360px;
}
.note-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    height: 152px;
}
.note-cards{
    display: flex;
    width: 1360px;
    gap: 24px;

    
}
.note-card-info{
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 300px;
    height: 322px;
    padding: 24px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #001931;
}

.note-h3{
    font-size: 50px;
    color:#001931;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.note-p{
    text-align: center;
    color: #627382;
}
.n-c-i-p{
    text-align: center;
}
.note-img{

    background-color: #f95555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* second brain */

.second-brain{
    display:flex;
    height: 600px;
    margin: 120px 0;
    max-width: 1360px;
    margin: 120px;
    gap: 60px;
}
.second-brain-img{
    width: 600px;
    height: 600px;

}
.second-brain-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 396px;
    margin: auto 0;
    width: 700px;
    
}
.second-brain-content-text, .second-brain-content-tiks{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.s-b-c-p {
    color:#30B868;
    font-size: 16px;
    font-weight: 400;
}
.s-b-c-h {
    font-weight: bold;
    font-size: 48px;
    color: #001931;
}
.s-b-c-p2 {
    font-size: 16px;
}
.s-b-c-t{
    font-size: 16px;
    font-weight: 500;
}
/* early-access */

.early-access{
    height: 506px;
    max-width: 1350px;
    margin: 2px auto 120px;
    background-color: #F7F6F2;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 24px;
    padding: 80px 40px;
    border-radius: 12px;
}
.early-access-content, .early-access-button{
    width:1280px;
    margin: 0 auto;
}
.early-content-head{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.early-access-button{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn11{
    width: 194px;
    height: 52px;
    background-color: #469165;
    padding: 16px 12px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    align-items: center;
    margin: 0 auto;
}
/* footer */

footer{
    background-color: #000000;
    color:#FFFFFF;
}
.footer{
    height: 348px;
    background-color: #000000;
    max-width: 100%;
    padding: 120px 120px 30px; 
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.footer-socials{
    display: flex;
    height: 64px;
    justify-content: space-between;
}
.footer-links{
    display: flex;
    flex-direction: column;
    height: 64px;
    width: 220px;
    gap: 16px;
}
.social-links{
    display: flex;
    gap: 16px;
}
.icon-tag{
    max-width: 20px;
    height: 20px;
}
.link-decorate{
    text-decoration: none;
    border-radius: 65%;
    border: none;
    color:#000000;
    background-color: #FFFFFF;
}
.copyright{
    height: 54px;
    text-align: center;
    gap: 30px;
}
hr {
    font-weight: 1px;
    opacity: 20%;
    
}
.copyright-text{
    margin-top: 30px;
    font-size: 16px;
}
